<!-- <div class="container">
  <h1>
    Price Form
  </h1>
  <hr />
    <form>
      <div class="form-group">
        <label for="name">Item Name:</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="price">Item Price:</label>
        <input type="text" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div> -->

<ol>
  <li *ngFor="let person of data">
      {{person.id}} - {{person.first_name}}
  </li>
</ol>